#clock,
#workspaces,
#mpris,
#window,
#scratchpad,
#privacy,
#idle_inhibitor,
#notifications,
#backlight,
#bluetooth,
#pulseaudio,
#network,
#cpu,
#temperature,
#disk,
#memory,
#battery {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 3px;
  margin-left: 3px;
  border-radius: 0px;
}
